# requirements.txt
# Gunakan perintah berikut untuk install sesuai OS:
# Linux/Unix: pip install -r requirements.txt
# Windows: pip install -r requirements-windows.txt

Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
SQLAlchemy
Pillow
python-dotenv
flask-login
openpyxl
# Untuk Linux/Unix, uwsgi akan diinstall dari requirements.txt
uwsgi; platform_system != 'Windows'
