{% from "_formshelper.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="static/images/DB_16х16.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POSEIDON Pre-Alpha</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">


    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Poseidon">


    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="static/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/lib/getmdl-select.min.css">
    <link rel="stylesheet" href="static/css/lib/nv.d3.min.css">
    <link rel="stylesheet" href="static/css/application.min.css">

    <!-- endinject -->

</head>
<body>
{% block content %}
<div class="mdl-layout mdl-js-layout color--gray is-small-screen login">
    <main class="mdl-layout__content">
        <div class="mdl-card mdl-card__login mdl-shadow--2dp">
                <div class="mdl-card__supporting-text color--dark-gray">
                    <div class="mdl-grid">
                        <center>
                        <div class="container mt-4">
                            {% for primary_message in get_flashed_messages(category_filter=["primary"]) %}
                            <li class="mdl-list__item">
                                <span class="mdl-chip mdl-chip--deletable">
                                    <span class="mdl-chip__text">{{ primary_message }}</span>
                                    <button type="button" class="mdl-chip__action"></button>
                                </span>
                            </li>
                            {% endfor %}
                            {% for secondary_message in get_flashed_messages(category_filter=["secondary"]) %}
                            <li class="mdl-list__item">
                                <span class="mdl-chip mdl-chip--deletable">
                                    <span class="mdl-chip__text">{{ secondary_message }}</span>
                                    <button type="button" class="mdl-chip__action"></button>
                                </span>
                            </li>
                            {% endfor %}
                            {% for success_message in get_flashed_messages(category_filter=["success"]) %}
                            <li class="mdl-list__item">
                                <span class="mdl-chip mdl-chip--deletable">
                                    <span class="mdl-chip__text">{{ success_message }}</span>
                                    <button type="button" class="mdl-chip__action"></button>
                                </span>
                            </li>
                            {% endfor %}
                            {% for danger_message in get_flashed_messages(category_filter=["danger"]) %}
                            <li class="mdl-list__item">
                                <span class="mdl-chip mdl-chip--deletable">
                                    <span class="mdl-chip__text">{{ danger_message }}</span>
                                    <button type="button" class="mdl-chip__action"></button>
                                </span>
                            </li>
                            {% endfor %}
                            {% for warning_message in get_flashed_messages(category_filter=["warning"]) %}
                            <li class="mdl-list__item">
                                <span class="mdl-chip mdl-chip--deletable">
                                    <span class="mdl-chip__text">{{ warning_message }}</span>
                                    <button type="button" class="mdl-chip__action"></button>
                                </span>
                            </li>
                            {% endfor %}
                            {% for info_message in get_flashed_messages(category_filter=["info"]) %}
                            <li class="mdl-list__item">
                                <span class="mdl-chip mdl-chip--deletable">
                                    <span class="mdl-chip__text">{{ info_message }}</span>
                                    <button type="button" class="mdl-chip__action"></button>
                                </span>
                            </li>
                            {% endfor %}

                        </div>
                        </center>
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                            <span class="mdl-card__title-text text-color--smooth-gray">POSEIDON</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                            <span class="login-name text-color--white">Sign in</span>
                            <span class="login-secondary-text text-color--smoke">Enter fields to sign in to POSEIDON</span>
                        </div>
                        <form action="{{ url_for('users.login') }}" method="post">
                            {{ form.csrf_token }}
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    {{ render_field(form.username, class="mdl-textfield__input", type="text", id="username") }}
                                    <label class="mdl-textfield__label" for="e-mail">Username</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    {{ render_field(form.password, class="mdl-textfield__input", type="password", id="password") }}
                                    <label class="mdl-textfield__label" for="password">Password</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
                                <a href="{{ url_for('users.register') }}" class="login-link">Don't have account?</a>
                                <div class="mdl-layout-spacer"></div>
                                 <input type="submit" value="SIGN IN" class="mdl-button mdl-js-button mdl-button--raised color--light-blue">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </main>
</div>
{% endblock %}

<!-- inject:js -->
<script src="static/js/d3.min.js"></script>
<script src="static/js/getmdl-select.min.js"></script>
<script src="static/js/material.min.js"></script>
<script src="static/js/nv.d3.min.js"></script>
<script src="static/js/layout/layout.min.js"></script>
<script src="static/js/scroll/scroll.min.js"></script>
<script src="static/js/widgets/charts/discreteBarChart.min.js"></script>
<script src="static/js/widgets/charts/linePlusBarChart.min.js"></script>
<script src="static/js/widgets/charts/stackedBarChart.min.js"></script>
<script src="static/js/widgets/employer-form/employer-form.min.js"></script>
<script src="static/js/widgets/line-chart/line-charts-nvd3.min.js"></script>
<script src="static/js/widgets/map/maps.min.js"></script>
<script src="static/js/widgets/pie-chart/pie-charts-nvd3.min.js"></script>
<script src="static/js/widgets/table/table.min.js"></script>
<script src="static/js/widgets/todo/todo.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- endinject -->

</body>
</html>
